@model Giftshop.Application.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <div class="text-right font-italic">
            <h5 class="float-right">#@Model.Id</h5>
            <h5 class="float-left">Details</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="col-sm-12">
            <div class="col-sm-2 float-left font-weight-bold">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-sm-10  float-left">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-sm-2 float-left font-weight-bold">
                @Html.DisplayNameFor(model => model.Username)
            </div>
            <div class="col-sm-10  float-left">
                @Html.DisplayFor(model => model.Username)
            </div>
            <div class="col-sm-2 float-left font-weight-bold">
                @Html.DisplayNameFor(model => model.Type)
            </div>
            <div class="col-sm-10  float-left">
                @Html.DisplayFor(model => model.Type)
            </div>
            <div class="col-sm-2 float-left font-weight-bold">
                @Html.DisplayNameFor(model => model.Status)
            </div>
            <div class="col-sm-10  float-left">
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-primary float-left" style="width: 120px">Back to List</a>
        <a asp-action="Index" asp-controller="Addresses" asp-route-id="@Model.Id" style="width:120px" class="btn btn-primary float-right">Addresses</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" style="width: 120px" class="btn btn-primary float-right mr-2">Edit</a>
    </div>

</div>
