@model IEnumerable<Giftshop.Application.Models.OrderHistoryViewModel>

@{
    ViewData["Title"] = "Orders";
}

@if (Model.Any())
{
    @foreach (var product in Model)
    {
        <div class="card mb-2">
            <div class="card-header">
                <h5 class="float-left">@product.CreateDate.ToString("dd-MM-yyyy HH:mm:ss")</h5>
                <h5 class="float-right">#@product.Id</h5>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    @foreach (var item in product.Products)
                    {
                        <div class="card mt-2">
                            <div class="card-body text-center">@item.Product.Description</div>
                            <div class="card-footer">@($"{item.Quantity} x {item.Price} {item.Currency}")</div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ml-5 mr-5">
                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </div>
                            <div class="col-sm-6">
                                @($"{product.TotalPrice} {product.Currency}")
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(product.Comment))
                        {
                            <div class="row ml-5 mr-5">
                                <div class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Comment)
                                </div>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(_ => product.Comment)
                                </div>
                            </div>
                        }
                        <div class="row ml-5 mr-5">
                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(_ => product.PaymentMethod)
                            </div>
                        </div>
                        <div class="row ml-5 mr-5">
                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Status)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(_ => product.Status)
                            </div>
                        </div>
                        <div class="row ml-5 mr-5">
                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.DeliveryAddress)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(_ => product.DeliveryAddress.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}